<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <h1>You are Deleting user : <%=user.username%></h1>
    <form method="post" action="/user/<%=user.id%>/?_method=DELETE">
        <input placeholder="Enter your email" name="email">
        <input placeholder="Enter your password" name="password" >
        <br>
            <button type="submit">Delete</button>
        
    </form>
    
</body>
</html>